# Ignore configuration files that may contain sensitive information.
# sites/*/*settings*.php

# Ignore paths that contain generated content.
documentation/
documentation/*

# Ignore default text files
robots.txt

# Ignore everything but the "sites" folder ( for non core developer )
.htaccess
